<!DOCTYPE html>
<html layout:decorate="~{page}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Listing</title>
</head>
<body>

<div layout:fragment="content">
    <div class="pagetitle">
        <h1>Metrics Generation</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Metrics</li>
                <li class="breadcrumb-item active">Generation</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="row">
        <div th:replace="~{fragments/repoMetric :: metrics(title='Repo Examples', repo=${repoExampleMetrics})}"> </div>
        <div th:replace="~{fragments/repoMetric :: metrics(title='Mined Repos', repo=${minedRepoMetrics})}"> </div>
    </div>
</div>
</body>
</html>