<!DOCTYPE html>
<html layout:decorate="~{page}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Listing</title>
</head>
<body>

<div layout:fragment="content">
    <div class="pagetitle">
        <h1>List of Repositories Examples</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Repo Examples</li>
                <li class="breadcrumb-item active">List</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="card">
        <div class="card-body">
            <div th:replace="~{fragments/searchBar :: searchBar('/repo/examples/all')}"> </div>
            <div class="container">
            <label>[[${totalItems}]] result(s)</label>
            </div>
            <!-- Table with stripped rows -->
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Name</th>
                    <th scope="col">URL</th>
                    <th scope="col">Microservice?</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="example : ${repoExamples}">
                    <th scope="row">[[${example.id}]]</th>
                    <td>[[${example.owner}]]</td>
                    <td>[[${example.appName}]]</td>
                    <td>
                        <a th:href="@{${example.url}}" target="_blank">[[${example.url}]]</a>
                    </td>
                    <td>[[${example.microservice}]]</td>
                </tr>
                </tbody>
            </table>
            <!-- End Table with stripped rows -->


            <nav aria-label="Pagination" th:if="${totalPages > 0}">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                        <a th:replace="fragments/paging :: paging('/repo/examples/all', 1, '<<', 'First Page')"></a>
                    </li>
                    <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
                        <a th:replace="fragments/paging :: paging('/repo/examples/all', ${currentPage - 1}, 'Prev', 'Previous Page')"></a>
                    </li>
                    <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                        <a class="page-link" href="#">...</a>
                    </li>
                    <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                        th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
                        <a th:replace="fragments/paging :: paging('/repo/examples/all', ${page}, ${page}, 'Page ' + ${page})"></a>
                    </li>
                    <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                        <a class="page-link" href="#">...</a>
                    </li>
                    <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
                        <a th:replace="fragments/paging :: paging('/repo/examples/all', ${currentPage + 1},'Next', 'Next Page')"></a>
                    </li>
                    <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                        <a th:replace="fragments/paging :: paging('/repo/examples/all', ${totalPages}, '>>', 'Last Page')"></a>
                    </li>
                </ul>
            </nav>
        </div>
        <!--
        <div class="modal fade text-center" id="confirmModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <span id="confirmText"></span>
                    </div>

                    <div class="modal-footer">
                        <a type="button" id="yesBtn" class="btn btn-danger">Yes</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        -->
        </div>
    </div>
</div>
</body>
</html>