<!DOCTYPE html>
<html layout:decorate="~{page}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Listing</title>
</head>
<body>
<div layout:fragment="content">
    <div class="pagetitle">
        <h1>List of Repositories Examples</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Repo Examples</li>
                <li class="breadcrumb-item active">Add/Upload</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Add one repository example</h5>

            <!-- General Form Elements -->
            <form action="#" th:action="@{/repo/examples/add}" th:object="${example}" method="post">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Owner</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{owner}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{name}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Url</label>
                    <div class="col-sm-10">
                        <input type="url" class="form-control" th:field="*{url}">
                    </div>
                </div>
                <div class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0">Microservice</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck2" checked th:field="*{microservice}">
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </form><!-- End General Form Elements -->
            <div th:if="${result != null}">
                <div th:replace="~{fragments/uploadResult :: uploadResult(result=${result})}"> </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Add a list of examples from a CSV file</h5>
            <!-- General Form Elements -->
            <form th:action="@{/repo/examples/upload}" enctype="multipart/form-data" method="post">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">File Upload</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="file" id="formFile" name="file">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </div>
            </form><!-- End General Form Elements -->
            <div th:if="${uploadResult != null}">
                <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${uploadResult.error} == true">
                    <p th:text="${uploadResult.message}"></p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${uploadResult.error} == false">
                    <p th:text="${uploadResult.message}"></p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

                    <!-- Modal Dialog Scrollable -->
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalDialogScrollable">
                        Upload Details
                    </button>
                </div>

                <div class="modal fade" id="modalDialogScrollable" tabindex="-1">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"> <p th:text="${uploadResult.message}"></p> </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div th:each="result: ${uploadResult.resultMap}">
                                    <div th:replace="~{fragments/uploadResult :: uploadResult(result=${result})}"> </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div><!-- End Modal Dialog Scrollable-->

            </div>


        </div>
    </div>
</div>
</body>
</html>